<%- include('partials/header'); %>
<div class="ui main text container">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached segment">
        <div class="item">
            <img class="ui centered rounded image contentImg" src="<%= blog.image %>">
            <div class="content">
                <span class="date contentDate"><%= blog.created.toDateString() %></span>
            </div>
            <div class="description contentDescription">
                <p><%- blog.body %></p>
            </div>
            <div class="ui buttons">
                <form action="/blogs/<%= blog._id %>/edit" method="GET">
                    <button style="margin-right: 5px" class=" ui yellow  basic button">Edit</button>
                </form>
                <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                    <button class="right attached ui red basic button">Delete</button>
                </form>
            </div>

        </div>
    </div>
</div>
    
    

<%- include('partials/footer'); %>